.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.mat-card {
  margin-bottom: 16px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.label {
  font-weight: bold;
  margin-right: 8px;
}

.mat-button {
  margin-top: 16px;
}

.qualify-text {
  color: green;
}

.reject-text {
  color: red;
}

.contacted-text {
  color: blueviolet;
}
