:host.lead-form-component {
 display: grid;
 place-items: center;
}

.card {
  min-width: 600px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  display: grid;
}
