<header>
  <mat-toolbar class="toolbar">
    <!-- Sidebar Hamburger button for opening the navigation -->
    <nav>
      <button
        class="hamburger"
        mat-icon-button
        (click)="sidebarService.toggleSidebar()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </nav>

    <!-- App Name -->
    <span class="app-name">Ng Leads</span>

    <!-- Spacer for layout purposes -->
    <div class="spacer"></div>

    <!-- User button with icon and username -->
    <button mat-fab extended [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      <span class="username">John Doe</span>
    </button>

    <!-- User options menu -->
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</header>
