<!-- Tile for New Leads -->
<mat-grid-list cols="2" rowHeight="200px" gutterSize="10px">
  <mat-grid-tile>
    <mat-card class="tile-card" (click)="navigateTo('new')">
      <mat-icon class="icon" aria-hidden="false" aria-label="New Leads"
        >person_add</mat-icon
      >
      <p>New Leads</p>
    </mat-card>
  </mat-grid-tile>

  <!-- Tile for Qualified Leads -->
  <mat-grid-tile>
    <mat-card class="tile-card" (click)="navigateTo('qualified')">
      <mat-icon class="icon" aria-hidden="false" aria-label="Qualified Leads"
        >thumb_up</mat-icon
      >
      <p>Qualified Leads</p>
    </mat-card>
  </mat-grid-tile>

  <!-- Tile for Placed Leads -->
  <mat-grid-tile>
    <mat-card class="tile-card" (click)="navigateTo('placed')">
      <mat-icon class="icon" aria-hidden="false" aria-label="Placed Leads"
        >check_circle</mat-icon
      >
      <p>Placed Leads</p>
    </mat-card>
  </mat-grid-tile>

  <!-- Tile for Rejected Leads -->
  <mat-grid-tile>
    <mat-card class="tile-card" (click)="navigateTo('rejected')">
      <mat-icon class="icon" aria-hidden="false" aria-label="Rejected Leads"
        >cancel</mat-icon
      >
      <p>Reject Leads</p>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
