<mat-card>
  <!-- Card Title Row -->
  <mat-card-title class="card-title">
    <div>{{ title }}</div>
    @if (viewModel.showCreateButton) {
      <button
        mat-flat-button
        (click)="createNewLead()"
        class="create-new-button"
      >
        <mat-icon>add</mat-icon>
        Create New
      </button>
    }
  </mat-card-title>
  <!-- Card Content -->
  <mat-card-content>
    <!-- Table -->
    <!-- data in store or loading complete -->
    @let hasData = leadsSignal().length > 0 || !isLoadingSignal();
    @let tableData = hasData ? leadsSignal() : skeletonRows;

    <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
      <!-- Text Columns -->
      @for (column of textColumns; track column) {
        <ng-container [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef>
            {{ column | propertyToTitle }}
          </th>
          <td mat-cell *matCellDef="let lead">
            @if (hasData) {
              <!-- Text Cell -->
              {{ lead[column] }}
            } @else {
              <!-- Skeleton Cell -->
              <div class="skeleton-cell"></div>
            }
          </td>
        </ng-container>
      }

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let lead">
          @if (hasData) {
            <button mat-button (click)="viewLead(lead.id)">View</button>
            @if (!viewModel.showUnrejectButton) {
              <button mat-button (click)="rejectLead(lead.id)">
                <span class="reject-text">Reject</span>
              </button>
            }
            @if (viewModel.showUnrejectButton) {
              <button mat-button (click)="unrejectLead(lead.id)">
                <span class="reject-text">Unreject</span>
              </button>
            }
            @if (viewModel.showQualifyButton) {
              <button mat-button (click)="qualifyLead(lead.id)">
                <span class="qualify-text">Qualify</span>
              </button>
            }
            @if (viewModel.showPlacedButton) {
              <button
                mat-button
                (click)="contactedLead(lead.id)"
                [disabled]="lead.status === leadStatus.Contacted"
              >
                <span class="contacted-text">Interviewed</span>
              </button>
            }
            @if (viewModel.showPlacedButton) {
              <button mat-button (click)="placedLead(lead.id)">
                <span class="placed-text">Placed</span>
              </button>
            }
          }
        </td>
      </ng-container>

      <!-- Empty Table Row -->
      <ng-container matColumnDef="noData">
        <td
          mat-cell
          *matNoDataRow
          [attr.colspan]="allColumns.length"
          class="empty-message"
        >
          No leads available.
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="allColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: allColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
