:host.layout-component {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.progress-bar-container {
  height: 4px;
  width: 100%;

  background-color: transparent; /* Keeps the space reserved but invisible */
}

.main-container {
  display: flex;
  flex: 1;

  .content {
    flex: 1;
    padding: 20px;
  }
}
