@use "@angular/material" as mat;

@mixin color($theme) {
  .mat-toolbar {
    background-color: mat.get-theme-color($theme, primary, 50);
    color: white;
  }
}

@mixin typography($theme) {
  .mat-toolbar {
    font: mat.get-theme-typography($theme, headline-large, font);
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
